/docs
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

/jbe

/lux-bootstrapper/target
/lux-bootstrapper/classes
/lux-bootstrapper/checkouts

/stdlib/target

/lux-lein/target

/licentia/target
/licentia/source/lux.lux
/licentia/source/lux

/lux-jvm/target
/lux-jvm/source/lux.lux
/lux-jvm/source/lux
/lux-jvm/source/program
/lux-jvm/source/spec

/lux-js/target
/lux-js/source/lux.lux
/lux-js/source/lux
/lux-js/source/program
/lux-js/source/spec
/lux-js/node_based_compiler.js
/lux-js/lux.js

/lux-python/target
/lux-python/source/lux.lux
/lux-python/source/lux
/lux-python/source/program
/lux-python/source/spec

/lux-lua/target
/lux-lua/source/lux.lux
/lux-lua/source/lux
/lux-lua/source/program
/lux-lua/source/spec

/lux-ruby/target
/lux-ruby/source/lux.lux
/lux-ruby/source/lux
/lux-ruby/source/program
/lux-ruby/source/spec

/lux-php/target
/lux-php/source/lux.lux
/lux-php/source/lux
/lux-php/source/program
/lux-php/source/spec

/lux-cl/target
/lux-cl/source/lux.lux
/lux-cl/source/lux
/lux-cl/source/program
/lux-cl/source/spec

/lux-scheme/target
/lux-scheme/source/lux.lux
/lux-scheme/source/lux
/lux-scheme/source/program
/lux-scheme/source/spec

/lux-r/target
/lux-r/source/lux.lux
/lux-r/source/lux
/lux-r/source/program
/lux-r/source/spec

