/docs
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

/luxc/target
/luxc/classes
/luxc/checkouts
/luxc/jbe

/stdlib/target

/lux-lein/target

/new-luxc/target
/new-luxc/source/lux.lux
/new-luxc/source/lux
/new-luxc/source/program

/lux-js/target
/lux-js/source/lux.lux
/lux-js/source/lux
/lux-js/source/program

/lux-python/target
/lux-python/source/lux.lux
/lux-python/source/lux
/lux-python/source/program

/lux-lua/target
/lux-lua/source/lux.lux
/lux-lua/source/lux
/lux-lua/source/program

/lux-ruby/target
/lux-ruby/source/lux.lux
/lux-ruby/source/lux
/lux-ruby/source/program

