/docs
pom.xml
pom.xml.asc
program.jar
aedifex.jar
*.class
/.lein-*
/.nrepl-port

/jbe

/lux-jvm-function/RELEASE

/lux-bootstrapper/RELEASE
/lux-bootstrapper/target
/lux-bootstrapper/classes
/lux-bootstrapper/checkouts

/lux-lein/RELEASE
/lux-lein/target

/lux-jvm/RELEASE
/lux-jvm/target
/lux-jvm/source/library
/lux-jvm/source/unsafe
/lux-jvm/source/program
/lux-jvm/source/spec
/lux-jvm/source/parser
/lux-jvm/source/format

/lux-js/RELEASE
/lux-js/target
/lux-js/source/library
/lux-js/source/unsafe
/lux-js/source/program
/lux-js/source/spec
/lux-js/source/parser
/lux-js/source/format
/lux-js/node_based_compiler.js
/lux-js/lux.js

/lux-python/RELEASE
/lux-python/target
/lux-python/source/library
/lux-python/source/unsafe
/lux-python/source/program
/lux-python/source/spec
/lux-python/source/parser
/lux-python/source/format

/lux-lua/RELEASE
/lux-lua/target
/lux-lua/source/library
/lux-lua/source/unsafe
/lux-lua/source/program
/lux-lua/source/spec
/lux-lua/source/parser
/lux-lua/source/format

/lux-ruby/RELEASE
/lux-ruby/target
/lux-ruby/source/library
/lux-ruby/source/unsafe
/lux-ruby/source/program
/lux-ruby/source/spec
/lux-ruby/source/parser
/lux-ruby/source/format

/stdlib/RELEASE
/stdlib/target

/lux-php/target
/lux-php/source/library
/lux-php/source/unsafe
/lux-php/source/program
/lux-php/source/spec

/lux-cl/target
/lux-cl/source/program
/lux-cl/source/spec

/lux-scheme/target
/lux-scheme/source/program
/lux-scheme/source/spec

/lux-r/target
/lux-r/source/program
/lux-r/source/spec

/licentia/target
/licentia/source/library

