# Reference

0. [Pluto: Add verifiable data to your application from any internet source](https://pluto.xyz/)
0. [Differential Analysis: A Summary](https://blog.brownplt.org/2024/06/27/differential-analysis.html)
0. [Web Check](https://web-check.xyz/)

